// variables

// colors
$primary-black : #181719;
$primary-white : #FFFFFF;
$footer-font-color : #A9A9A9;


// fonts
$crimson-font: 'Crimson Pro', serif;
$lora-font: 'Lora', serif;
$monteserrat-font: 'Montserrat', sans-serif;
